
.logo-img{
  filter: brightness(50%);
  position: fixed;
  z-index: -1;
}

.box{  
  background-color: #5A20CB;
  width: 33.3%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed white;
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  cursor: pointer;
}

.outer-box{
  width: 450px;
  margin-left: 10px;
  border-radius: 20px;
  border: 1px dashed white;
  padding: 15px;
  
}

@media only screen and (max-width:450px){
  .box{
    height: 80px;
    width: 32%;
    flex-direction: column;
  }
  img{
    height: 80px !important;
  }
  .game-buttons{
    width: 50% !important;
    justify-content: space-around;
    flex-direction: column;
  }
  .btn-start{
    padding: 10px !important;
    font-size: 10px !important;
  }
  .gameComponent{
    transform: translateY(-40%) !important;
  }
}
@media only screen and (max-width:600px){
  .custom-modal-style{
    width: 80% !important;
    margin: 0 auto !important;
  }
}

@media only screen and (max-width:900px){
  .player{
    visibility: hidden;
  }
}


img{
  object-fit: cover;
  height: 150px;
  padding: 0!important;
}

.player{
  display: block;
  width: 210px;
  height: 270px;
  opacity: 0.99;
  transform: translateY(-50%);
  border-radius: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  /* border: 1px dashed white; */
  flex-direction: column;
}
.active{
  background-color: #834be4;
}
.userIcon{
  position: relative;
  bottom: 25%;
  font-size:xx-large;
}
.gameComponent{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-start{
  background-color: #F7CD2E  !important;
  color: #2011c8 !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
  letter-spacing: 1.2px !important;
  padding: 20px;
  border-radius: 10px !important;
  border: none;
  margin-top: 30px;
  font-size: 1.5rem !important;
}

.demo{
  object-fit: contain;
  width: 100%;
  height: 50px;
}

p{
  margin: 0;
}

input{
  padding: 10px;
  width:  95%;
  margin-bottom: 10px;
  border:  1px solid #d4d4d4;
  font-size: 16px;
  outline: none;
  margin-bottom: 30px;
  margin-top: 10px;
  border-radius: 10px;
}

input:focus{
  border:2px solid #834be4;
  
}


.test{
  transform: translateY(-5%);
}

.game-buttons{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 450px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top:30px;
}


.testPad{
  padding: 20px !important;
}

.nextLine{
  flex-direction: column;
  display: flex;
}